.hero{
    width: 100%;
    .hero-img{
        width: 100%;
    }
    .hero-tab{
        display: none;
    }
    .hero-desk{
        display: none;
    }

}
@media (min-width: 600px) {
    .hero{
        .hero-img{
            width: 100%;
            display: none;
        }
        .hero-tab{
            display: block;
            width: 100%;
        }
    }
}
@media (min-width: 1240px) {
    .hero{
        .hero-tab{
            display: none;
        }
        .hero-desk{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}